
header{
    background-color: lightgrey;
    padding: 15px;
    margin-bottom: 10px;
}

.top-part{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
}

.about-block{
    padding: 75px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    
}

.row{
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
}

.project-element {
    text-align: center;
}

footer{
    background-color: lightgrey;
    text-align: center;
    padding: 15px;
}

.social-links {
    padding: 20px;
}