
*{
    box-sizing: border-box;
    max-width: 100%;
    padding: 0;
    margin: 0;
    border: 1px solid greenyellow;
}

header{
    background-color: lightgrey;
    padding: 15px;
    margin-bottom: 10px;
}

.top-part{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
}

.about-block{
    padding: 75px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    
}

.row{
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
}

.project-element {
    text-align: center;
}

footer{
    background-color: lightgrey;
    text-align: center;
    padding: 15px;
}

.social-links {
    padding: 20px;
}

@media(max-width: 800px) {
    .top-part img {
        width: 300%;
    }

    .project-element {
        width: 20%;
    }
}

@media(max-width: 500px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    button {
        width: 25%;
        margin: 1% 0;
    }

    .top-part {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .about-block {
        width: 85%;
        text-align: center;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .project-element {
        width: 40%;
        margin: 1% 0;
    }
}
